<!-- views/random/show.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>
        <div class="container">
            <div class="show-area">
                <h1>Go To <%= random.station_name %> Station!</h1>
            </div>
            <div class="view-google-map-area">
                <a href="https://www.google.com/maps/search/<%= random.lat %>,<%= random.lon %>+">View GoogleMap</a>
            </div>
        </div>
    </body>
</html>